{# {% autoescape off %} #}
Hi {{ student.name }},

Your exported tutorial proposals:
<p>
    <strong>Topics:</strong><br>
    {% for status in statuses %}
        ({{ status.priority }}) ({% for college in status.tutorial.colleges.all %}{{ college.code }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}) {{ status.tutorial.title }}
        [ {{ status.tutorial.description }} ]
        {% if status.tutorial.prerequisites and status.tutorial.prerequisites != "Not yet" %} [ Prerequisites: {{ status.tutorial.prerequisites }} ] {% endif %}
        {% if forloop.last %}{% else %}<br>{% endif %}
    {% endfor %}
<br>
</p>
<p>
    <strong>Other students:</strong><br>
    {% for status_list in statuses_per_tutorial %}
        {{ status_list.0.tutorial.title }}:
        {% for student_status in status_list %} {{ student_status.student.name }}{% if forloop.last %}.{% else %}, {% endif %}{% endfor %}
        {% if forloop.last %}{% else %}<br>{% endif %}
    {% endfor %}
</p>

{# {% endautoescape %} #}