{% extends 'tutorials/base.html' %}

{% block content %}
  <div class="container" style="max-width: 600px">
    <div style="margin-bottom: 15px; margin-top: 15px">
        <h2>Minerva Tutoralize Sign Up</h2>
    </div>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
            <div>{{ field.help_text|safe }}</div>
            <div>{{ field }}</div>
            {% for error in field.errors %}
                <div><strong>{{ error|escape }}</strong></div>
            {% endfor %}

        </div>
      {% endfor %}
      <button type="submit">Sign up</button>
    </form>
  </div>

{% endblock %}